.container {
    width: 80%;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    list-style-type: none;
    width: 60%;
    margin: auto;

}

.navigation li a {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
}

img {
    width: 100%;
}

.start-picture {
    width: 20%;


}

header {

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 30px;
}

.kleem {
    margin-top: 50px;
    text-align: center;
    margin: auto;
}

.first-img {
    margin: auto;
    margin-top: 70px;
    width: 50%;
}

.grey {
    background-color: #f1f1f1;
    margin-bottom: 80px;
}

.grey h1 {
    text-align: center;
}

.grey h3 {
    text-align: center;

}

.grey-section-two {
    grid-column-gap: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 60%;
}

.grey-picture {
    width: 60%;
}

.container {
    margin-top: 60px;
}
.container h1{
    text-align: center;
}

.container-img {

    box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.75);
}

.kleem {
text-align: justify;
}
.kleem p{
    line-height: 1.4;
    letter-spacing: 1px;
}

.clinically-picture {
    width: 80%;
    margin: auto;
}
.clinically{
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
    width: 80%;
}

.proven li{
    list-style-type: disclosure-closed;
    margin: 20px 0 ;
}

.ingrid{
    padding-bottom: 20px;
    background-color: #f1f1f1;
}
.ingrid h1{
    text-align: center;
    padding: 12px;
}
.grey-section-three{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
    width: 80%;
}
.grey-section-three-text{
    margin: auto;
    width: 80%;
   
}

.grey-section-three-img{
    width: 70%;
    margin: auto;
}
.button-blue{
    justify-content: center;
    display: flex;

}
.button-blue .order{
background-color: blue;
text-align: center;
border:none;
font-size: 18px;
border-radius: 7px;
padding: 10px 50px;
margin: 15px;
color: white;
box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
}
.order:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.retinol-cream{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px auto;
}
.retinol h1{
    text-align: center;
}

.retinol-images{
    width: 55%;
    margin: auto;
}
.retinol-six{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



.anti-aging h1{
text-align: center;
}
.highly{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.anti-aging-picture{
    margin: auto;
    width: 50%;
}


.quality h1{
    text-align: center;
}
.quality p{
    text-align: center;
}
.quality-con{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.quality-img{

    width: 60%;
    margin: auto;
    padding-top: 10%;
}

.quality-ul{
    padding-top: 12%
}


.apply h1{
    text-align: center;
}
.apply p{
    text-align: center;
}
.trusted h1{
    text-align: center;
}
.trusted-img{
    width: 80%;
    margin: auto;

}
.commited {
    background-color: azure;
}
.commited h1{
    text-align: center;
}
.commited p{
    text-align: center;
}
.order-now:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.button-grey{
    margin: auto;
    text-align: center;
}
.button-grey .order-now{
    background-color: gray;
    padding-left: 50%;
    border:none;
    font-size: 18px;
    border-radius: 7px;
    padding: 20px 50px;
    margin: 15px;
    color: black;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    }
    .frequently h1{
        text-align: center;
    }

    .description{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        margin: auto; 
    }
    .form{
        list-style-type: none;
    }

    .button-purple .purple-order{
        background-color: purple;
        border:none;
        font-size: 18px;
        border-radius: 7px;
        padding: 12px 30px;
        color: black;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
        }

        .swiper-img{
            width: 350px;
            margin-right: 20px;
        }
        .swiper-grid{
            display: flex;
            margin: auto;
            width: 76%;
            padding: 10px 10px;
        }
    .mySwiper1{
        border: 1px black solid;
    }

    .heart{
   margin: auto;
        width: 18%;
    }
    .stars{
        margin: auto 0;
        width: 80px;
    }
    .mark{
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .reviews-swiper{
        display: flex;
        margin: 50px 0;
    }
    .reviews{
        width: 70%;
        text-align: center;
    }
    .reviews p{
        margin: 0;
    }




















.contacts{
    margin-top: 8%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    list-style-type: none;
}
.policy{
    text-align: center;
}
.paragraph{
    margin-top: 5%;
}











